/backend/.env
.env
.venv
backend/__pycache__
__pycache__
.venvv
.pyc
__pycache__/
*.py[cod]

backend/ipynb
backend/services/mapping.ipynb
shivautomation-*.json
superb-*.json

sap-pal
sap-pal/node_modules
sap-pal/dist
sap-pal/dist-ssr
sap-pal/*.local
sap-pal/logs
sap-pal/*.log
sap-pal/npm-debug.log*
sap-pal/yarn-debug.log*
sap-pal/yarn-error.log*
sap-pal/pnpm-debug.log*
sap-pal/lerna-debug.log*
sap-pal/.vscode/*
!sap-pal/.vscode/extensions.json
sap-pal/.idea
sap-pal/.DS_Store
sap-pal/*.suo
sap-pal/*.ntvs*
sap-pal/*.njsproj
sap-pal/*.sln
sap-pal/*.sw?
