/backend/.env
.env
.venv
backend/__pycache__
__pycache__
.venvv
.pyc
__pycache__/
*.py[cod]

backend/ipynb
backend/services/mapping.ipynb

.json
# Google Cloud Service Account credentials
shivautomation.json
shivautomation-479307.json
